In [ ]:
import face_recognition
import pandas as pd
import os

In [ ]:
import numpy as np

In [ ]:
test_dir  = './test_dataset'
test_data = os.listdir(test_dir)
# test_data.sort()
# train_data[:10]

train_dir = './train_dataset'
train_data = os.listdir(train_dir)
train_data.sort()

In [ ]:
encodings_list = pd.DataFrame()
encodings_list['Person'] = []
encodings_list['encoding'] = []

Trained for classified faces

In [ ]:
for i in train_data[1:]:
  image = face_recognition.load_image_file(os.path.join(train_dir ,i))
  face_encoding_list = face_recognition.face_encodings(image, model='cnn')
  encodings_list.loc[len(encodings_list)] = [i.split('.')[0], face_encoding_list[0]]

In [ ]:
result = pd.DataFrame()
result['S.No'] = []
for i in encodings_list['Person']:
  result[i] = []
  result[i] = result[i].astype(int)

In [ ]:
#result

In [ ]:
for i in test_data:
  image = face_recognition.load_image_file(os.path.join(test_dir ,i))
  face_encoding_list = face_recognition.face_encodings(image, model='cnn')

  if len(face_encoding_list) > 0:
      dict__ = []

      for j in face_encoding_list:
        matches = face_recognition.compare_faces(list(encodings_list['encoding']), j)
        dict__.append([int(item) for item in matches])

      dict__ = np.asarray(dict__)

      for k in dict__[1:]:
        dict__[0] += k

      final__dict = [i]

      for ele in dict__[0]:
        final__dict.append(int(ele))

      result.loc[len(result)] = final__dict
  else:
    result.loc[len(result)] = [i , 0, 0, 0, 0, 0, 0]

In [ ]:
result

,S.No,label_0,label_1,label_2,label_3,label_4,label_5
0,43f601a6-7cd7-4ada-a882-bc9ede01dce9.JPG,0,0,1,0,0,0
1,16bad20c-51c2-4d08-bec1-25db95d7d231.JPG,0,0,0,1,0,0
2,2dac39a4-4225-4375-be81-3fef81bade15.JPG,1,1,0,0,0,0
3,5bd15a53-3987-4ec8-887c-1b3e304e6707.JPG,0,1,0,0,0,0
4,375c928c-0758-43b5-89f9-587793505bdb.JPG,0,0,0,0,0,0
...,...,...,...,...,...,...,...
92,4fcbc6fd-aa24-4de3-9c9d-4c0a1697d7cb.JPG,0,1,0,0,0,0
93,4396f72b-f273-4749-a9b1-e759662b849a.JPG,0,0,0,0,0,1
94,44e27f8c-c6bf-45dc-8c87-fcc55f6278b9.JPG,0,0,0,0,0,1
95,4f58ee45-ae0d-4378-9ca4-e9b8655c9a37.JPG,0,0,0,0,0,1
96,2ac464a6-5bc6-45de-b940-fefec4a35448.JPG,0,0,0,0,0,0

In [ ]:
result.to_csv('result.csv')